.Form-Group{
  width: 100%;
  padding: 8px;
  border: 1px solid #0d6efd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 12px;
  resize: vertical;
  font-size: 16px;

}

.Form-Group:focus{
    outline: none !important;
    border: 1px solid #1636dd;
}

.Form-Field {
  width: 100%;
  padding: 8px;
  border: 1px solid #535457;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 12px;
  resize: vertical;
  font-size: 16px;
  transition: all 0.2s linear;
}
.Form-Field:focus{
  outline: none !important;
  border: 1px solid #1636dd;
}

.FormLogin{
  width: 410px;
  height: 460px;
  margin: 30px auto;
  box-shadow: 0 0 1em #6c757d;
  padding: 20px;
}

.Input{
  width: 100%;
  padding: 8px;
  border: 1px solid #0d6efd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 12px;
  resize: vertical;
  font-size: 16px;

}

.Input:focus{
    outline: none !important;
    border: 1px solid #1636dd;
}
